<footer style="background: #f0f0f0;margin-top: 50px; padding-top: 20px">
    <style>
        ul {
            display: block;
            list-style-type: none;
        }
        footer a{
            color: #808080;;
            text-decoration: none;
        }
        footer a:hover {
            color: #99CC01;
        }
        footer .col-md-3 {
            width: 15%;
        }
    </style>

    <div class="container" style="padding-top: 10px; padding-bottom: 10px">
        <div class="row" style="color:white;">
            <div class="col-md-3">
                <ul style=" padding: 0 0; ">
                    <li><b style="color: #000000">Company</b></li>
                    <li> &nbsp;</li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="/Privacy">Privacy</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul style=" padding: 0 0; ">
                    <li><b style="color: #000000">Charity</b></li>
                    <li> &nbsp;</li>
                    <li><a href="/recipient/signup">Register</a></li>
                    <li><a href="/recipient/login">Log In</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul style=" padding: 0 0; ">
                    <li><b style="color: #000000">Campaign</b></li>
                    <li> &nbsp;</li>
                    <li><a href="/campaign/signup">Register</a></li>
                    <li><a href="/campaign/login">Log In</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul style=" padding: 0 0; ">
                    <li><b style="color: #000000">Contributors</b></li>
                    <li> &nbsp;</li>
                    <li><a href="/login/signup">Join</a></li>
                    <li><a href="/login/signin">Log In</a></li>
                    <li><a href="/charities/listCharities">List of Charities</a></li>
                    <li><a href="/campaign/listCampaigns">List of Campaigns</a></li>
                    <li class="#"><a href="/search">Donation Tracking</a></li>
                </ul>
            </div>
            <div style="width: 40%;float:right;"><img style="opacity:1.0;width:400px;height: 100px" src='/images/footerLogo.png'>
            </div>
        </div>
    </div>


</footer>