
<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Script Tutorials" />
    <title>AMI_Paces</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- attach CSS styles -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <audio loop autoplay>
        <source src="/assets/Audio/items/2000.1.mp3" type="audio/mp3">
    </audio>
    <div class="bottom-center">
        <button type="button" id="next" class="btn btn-primary text-center" onclick="window.location.href='/testMic'">Next</button>
    </div>
</body>
</html>