<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AMI Paces</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/social-buttons.css">

</head>


<body>
    <div class="container" style="padding-top: 5%; height:auto; min-height: 90%;  margin: 0 auto -50px" >
        <h2 class="form-signin-heading text-center " style="font-family : Nevis">
            AMI PACE
        </h2>
        <hr/>
        <div class="text-center" style="margin:auto; margin-top: 5%; font-size: 200%;">
            <p>All resopnose and images have been uploaded. This is the end of test.
            Thank you.</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block greenButton" style="width:60%;margin:auto;margin-top: 10%;" onclick="jump();" >Exit to login page</button>

</div>

</body>
<script language="JavaScript">
    function jump(){
    window.location.href="/";
    }
</script>
</html>