<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Script Tutorials" />
    <title>WillGive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- attach CSS styles -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
    <%activeMenu = "Home"%>

</head>



<body>
<!--  BODY PAGE CONTENT -->
<!-- attach JavaScripts -->

<!-- first section - Home -->
<div id="home" class="home">
    <div class="text-vcenter">
        <h1 style="font-family: Brush Script MT; font-size:80px;font-style: normal ">AMI</h1>


    </div>
</div>
<!-- /first section -->

<!-- second section - About -->


<!-- /second section -->


<!-- third section - Services -->
<div id="services" class="pad-section">
    <div class="container">

        <div class="row text-center" style="padding-right: 50px">
            <div class="col-sm-3 col-xs-6 info" style="border:2px solid gray;border-radius:10px;margin:11px ;height:300px;padding-top:20px ">
                <i class="glyphicon glyphicon-cloud icon"> </i>
                <h4>Service web</h4>
                <p>You can donate through our website</p>
            </div>
            <div class="col-sm-3 col-xs-6 info" style="border:2px solid gray;border-radius:10px;margin:11px ;height:300px;padding-top:20px">
                <i class="glyphicon glyphicon-leaf icon"> </i>
                <h4>Service APP</h4>
                <p>We have dedicated mobile apps on iphone and android for givers and receivers</p>
            </div>
            <div class="col-sm-3 col-xs-6 info" style="border:2px solid gray;border-radius:10px;margin:11px ;height:300px;padding-top:20px">
                <i class="glyphicon glyphicon-phone-alt icon"> </i>
                <h4>QR promotion</h4>
                <p>We generate rich informational QR code for you to make an easy donation</p>
            </div>
            <div class="col-sm-3 col-xs-6 info" style="border:2px solid gray;border-radius:10px;margin:11px ;height:300px;padding-top:20px">
                <i class="glyphicon glyphicon-bullhorn icon"> </i>
                <h4>Easy payments</h4>
                <p>We support all major credit cards. </p>
            </div>
        </div>
    </div>
</div>
<!-- /third section -->


<!-- fourth section - Information -->

<div id="information" class="pad-section" style="height:250px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default" style="background-color: #f5f5f5; height:280px;">
                    <div class="panel-heading">
                        <h2 class="panel-title">WHY US?</h2>
                    </div>
                    <div class="panel-body lead" style="padding-top: 30px" >
                        <p style="color:#000000">Charities</p>
                        <p style="font-size: 14px;">It is free to use our services and get access to our app users.</P>
                        <p style="color:#000000">Donators</p>
                        <p style="font-size: 14px;"> We verifiy every registered charity and make sure that they're not only eligible but also efficient. 100% of your donated money (except fees charged by credit card companies) directly go to the charities of your choice.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" >
                <div class="panel panel-default" style="background-color: #f5f5f5; height:280px;">
                    <div class="panel-heading">
                        <h2 class="panel-title">How to start?</h2>
                    </div>
                    <div class="panel-body lead" style="padding-top: 30px">
                        <p style="color:#000000">Charities</p>
                        <p style="font-size: 14px;"> Register online or call our support line 1-800-296-GIVE</p>
                        <p style="color:#000000">Donators</p>
                        <p style="font-size: 14px;">Register online and download the app.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /fourth section -->

<!-- /footer -->

<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>


</body>

</html>