<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AMI Paces</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <style>
        .my-error-class{
            color:#FF0000 /*red*/
        }
    </style>
</head>
<body style="" background="assets/">

<div style="padding-top: 5%; height:auto; min-height: 90%;  margin: 0 auto -50px">
    <div class="container" >
        <h2 class="form-signin-heading text-center " style="font-family : Nevis">AMI Paces Login</h2>
        <hr class="greenLine" >

        <div class="form-signin text-center" style="padding-top: 10px">
            <form id="userSignInForm"  action="/services/login/signin" method="post">
                <% if (error) { %>
                <div class="text-center alert" style="color: red; font-size: small; font-style: italic; padding-bottom: 1% "> <%= error %> </div>
                <% } %>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon greenBorder">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="username" name="username" class="greenBorder form-control" placeholder="Email address" required autofocus>
                </div>
                <div style="padding-top: 2px"> &nbsp;</div>

                <div class="input-group input-group-lg">
                    <span class="input-group-addon greenBorder">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="greenBorder form-control" placeholder="Password" minlength="6" required>
                </div>


                <div style="padding-bottom: 20px">&nbsp;</div>
                <button class="btn btn-lg btn-primary btn-block greenButton" type="submit" >SIGN IN</button>

            </form>
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            Don't have an account? <a href="/login/signup">Sign Up</a>
        </div>
    </div>
    <h3 class="form-signin-heading text-center " style="font-family : Nevis">Be in a QUIET place</h3>
    <hr/>
</div>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>
<script src="/js/messageReporter.js"></script>
<script>
    var reporter = new MessageReporter("signInReporter");
    reporter.clear();
    //@notice: name attribute in form, not id attributes
    var formValidateParams = {
        errorClass: "my-error-class",
        //validClass: "my-valid-class",
        rules: {
            password: {
                required: true,
                minlength: 6
                //remote: "users.php"
            },
            username: {
                required : true,
                email : true
            }
        },
        messages: {
            password: {
                required: "Required.",
                minlength: "Password at least 6 chars.",
            },
            username: {
                required: "Required.",
                email: "Please enter a validate email address.",
                remote: "This email is already in use. Please use Forgot Password from the login page to retrieve account."
            },
            usage: "Please check my terms."
        }
    };

    $("#userSignInForm").validate(
        formValidateParams
    );
</script>


<script>

</script>
</body>

</html>