<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<div class="container">

    <div id="top" class="row panel-body ">
        <div id="camera" class="col-lg-1">
            <span><video autoplay></video></span>
        </div>

        <div id="spinner" class="col-lg-1 " >
            <span class="vcenter">  <% include partials/timer.ejs %></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            ...........
        </div>
        <div class="col-sm-4">
            ...
        </div>
        <div class="col-sm-4">
            ...
        </div>
    </div>
    <div id="videoContent" class="row text-center">
        <video id="video" width="50%" height="50%" autoplay></video>
    </div>
    <div id="viz" >
        <canvas id="analyser" width="1024" height="500" style="display: none"></canvas>
    </div>

    <div id="controls" style="display: none">
        <img id="record" src="images/mic128.png" onclick="toggleRecording(this);" style="display: none">
        <a id="save" href="#" style="display: none"><img src="images/save.svg"></a>
    </div>
    <div id="button" class="row text-center">
        <button id="next" type="button" class="text-center btn-lg " font-size="16px">Next</button>
    </div>
</div>
<script>
    var video = document.querySelector('video');
    //var canvas = document.querySelector('canvas');
    //var ctx = canvas.getContext('2d');
    //var image = document.querySelector('img');
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

    window.URL = window.URL || window.webkitURL;
    if (navigator.getUserMedia) {
        navigator.getUserMedia({ video: true,audio:false},
            function(stream) {
                video.src = window.URL.createObjectURL(stream);
                video.onloadedmetadata = function(e) {
                    video.play();
                };
            },
            function(err) {
                console.log("The following error occured: " + err.name);
            }
        );
    } else {
        console.log("getUserMedia not supported");
    }
</script>

<script>

    <script>
    var questionList = [{"type": "video","source": "assets/Video/HotdogSquare.mp4","timeout": 0,"id": "3"},{"type": "audio","source": "assets/Audio/items/2070.1.mp3","timeout": 10,"id": "1"},{"type": "audio","source": "assets/Audio/items/2070.3.mp3","timeout": 10,"id": "2"},{"type": "audio","source": "assets/Audio/items/2070.3.mp3","timeout": 10,"id": "4_1"},{"type": "audio","source": "assets/Audio/items/2070.3.mp3","timeout": 10,"id": "4_2"},{"type": "audio","source": "assets/Audio/items/2070.3.mp3", "timeout": 10,"id": "5"}];
    var index = 0;
    var canvas = document.getElementById("analyser");
    var video = document.getElementById("video");
    var question = questionList[index];
    var recordButton = document.getElementById("record");
    var id="0";

    function playQuestion(stream) {
        question = questionList[index];
        id=question.id;
        console.log(question);
        console.log("playing question --- " +index );
        if(index>questionList.length) return;
        if(question.type=="audio") {
            var audio = new Audio(question.source);
            console.log("playing audio with souce --- " +question.source );

            audio.onended = function() {
                console.log("playing audio ended--- " +question.source );

                canvas.style.display = "inline";
                gotStream(stream);
                toggleRecording(recordButton);
                startTimer(question.timeout, 50, function() {
                    toggleRecording(recordButton);
                    canvas.style.display="none";
                    playQuestion(stream);
                    ++index;
                })
            }
            audio.play();

        } else if(question.type=="video") {
            //video.source = question.source;
            video.style.display = "inline";
            console.log("playing video with souce --- " +question.source );
            video.src = question.source;
            video.onended = function() {
                video.style.display = "none";
                ++index;
                console.log("playing video ended--- " +question.source );
                playQuestion(stream);
            }
            video.play();

        } else if(question.type=="image") {

        } else if(question.type=="words") {

        }
    }

    navigator.getUserMedia({audio: true, video: false}, function (stream) {
        playQuestion(stream);
    }, function (error) {
        //audioOrVideoNotEnabled();
    });
</script>

</body>
</html>