<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jsnlog.js/jsnlog.js"></script>
    <script src="js/tracktap.js"></script>
    <script src="js/recorderjs/audiodisplay.js"></script>
    <script src="js/recorderjs/recorder.js"></script>
    <script src="js/recorderjs/audioMain.js"></script>
    <link rel="stylesheet" href="/css/audioCss.css">
    <link rel="stylesheet" href="/css/trackTap.css">
    <style>
        .col-centered{
            float: none;
            margin: 0 auto;
        }
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
        .responsive {
            padding: 0 6px;
            float:left;
            width: 49.99999%;
        }

        #analyser {
            display: inline-block;
            background: #000000;
            width:100%;
            min-height: 15px;
            max-height:50px;
            box-shadow: 0px 0px 10px #000000;
        }

    </style>
</head>
<body>

<div class="container">

    <div id="top" class="row panel-body ">
        <div id="camera_div" class="col-lg-2">
            <span><video id="camera" autoplay width="100%" height="100%"></video></span>
        </div>
        <div id="timer_div" class="col-lg-offset-7 col-lg-1">
            <% include partials/timer.ejs %>
        </div>
    </div>

    <div style="display: none"><audio id="audioGlobal" src="http://192.168.1.4/assets/Audio/items/2000.1.mp3"></audio></div>

    <div>
        <div id="videoContent" class="text-center row" style="display: none; width:'60%'; height:'60%'">
            <video id="video"></video>
        </div>
        <div id="nameFacesContent" class="text-center row" style="color : white; display: none;">
                <div id="4faces" class="text-center row col-lg-6 col-lg-offset-3" >
                    <div class="row">
                        <div class="img col-lg-3">
                            <img id="face0"  width="100%" height="100%" >
                            <div style="color:white;text-align: center" id="name0"></div>
                        </div>
                        <div class="img col-lg-3">
                            <img id="face1" width="100%" height="100%"  >
                            <div style="color:white;text-align: center" id="name1"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="img col-lg-3">
                            <img id="face2"  width="100%" height="100%" >
                            <div style="color:white;text-align: center" id="name2"></div>
                        </div>
                        <div class="img col-lg-3">
                            <img id="face3" width="100%" height="100%" >
                            <div style="color:white;text-align: center" id="name3"></div>

                        </div>
                    </div>
                </div>
                <div id="testFaceDiv" class="text-center row col-lg-6 col-lg-offset-3" style="display: none;">
                    <div class="img col-lg-6">
                        <img id="testFace" width="70%" height="70%"  >
                    </div>
                </div>
        </div>
        <div id="trackTap" style="display: none"  class="text-center row ">
            <table class="col-lg-6 col-lg-offset-2">
                <tr class="row"  >
                    <td id="td[0]" class="col-lg-3" onclick="hit(0)"></td>
                    <td id="td[1]" class="col-lg-3" onclick="hit(1)"></td>
                </tr>
                <tr  class="row"  >
                    <td id="td[2]" class="col-lg-3" onclick="hit(2)"></td>
                    <td id="td[3]" class="col-lg-3" onclick="hit(3)"></td>
                </tr>
                <tr  class="row" >
                    <td id="td[4]" class="col-lg-3" onclick="hit(4)"></td>
                    <td id="td[5]" class="col-lg-3" onclick="hit(5)"></td>
                </tr>
            </table>
        </div>
        <div  id="textContent" class ="row text-center" style=" padding-top:20%; display: none;width:100%; height:100% ;color: white; font: Arial; font-size: 30px; font-weight: bold;"  >
            <!-- Volume checker-->
                Hear This ?
        </div>
        <div id="textShowAll" >
            <div  class="row" style="color:green">
                <div id="word0" style="width:50%; text-align: center;" onclick=toggleHighlight(this)><b></b></div>
            </div>
            <div  class="row" style="  color:green">
                <div  id="word1" style="width:50%;float: right;text-align: center" onclick=toggleHighlight(this)><b></b></div>
            </div>
            <div  class="row" style="color:green">
                <div  id="word2" style="width:50%; text-align: center" onclick=toggleHighlight(this)><b></b></div>
            </div>
            <div  class="row" style="  color:green">
                <div  id="word3" style="width:50%;float: right;text-align: center" onclick=toggleHighlight(this)><b></b></div>
            </div>
            <div  class="row" style="  color:green">
                <div  id="word4" style="width:50%;text-align: center" onclick=toggleHighlight(this)><b></b></div>
            </div>
            <div  class="row" style="  color:green">
                <div  id="word5" style="width:50%;float: right;text-align: center" onclick=toggleHighlight(this)><b></b></div>
            </div>
        </div>
    </div>

    <div id="bottom">
        <div id="microphone"  class="row" >
            <canvas id="analyser"  ></canvas>
        </div>
        <div  id="footer" class="row" >
            <button id="nextButton" class="btn-primary btn-lg"style="height:100%;">Click Here To Start</button>
        </div>
    </div>




</div>

<script>


    var padLeft = function(word, pad) {
        return pad.substring(0, pad.length - word.length) + word;
    }

    var toUTCDateTimeString = function(date) {
        //Example: 2017-01-02 15:30:55.752 +0000
        var hour = date.getUTCHours();
        hour = (hour < 10 ? "0" : "") + hour;

        var min  = date.getUTCMinutes();
        min = (min < 10 ? "0" : "") + min;

        var sec  = date.getUTCSeconds();
        sec = (sec < 10 ? "0" : "") + sec;

        var year = date.getUTCFullYear();

        var month = date.getUTCMonth() + 1;
        month = (month < 10 ? "0" : "") + month;

        var day  = date.getUTCDate();
        day = (day < 10 ? "0" : "") + day;

        var milliSec = padLeft(date.getUTCMilliseconds()+'', '000');

        return date.getFullYear()+"-"+month+"-"+day+" "+hour+":"+min+":"+sec+"."+milliSec+" +0000";
    }

    function audioOrVideoNotEnabled(text) {
        audioLevel = audioLevelOptions.NoMicrophone;
        var audio = new Audio('/assets/Audio/EnableInterviewAccess.mp3');
        audio.play();
        audio.onended = function() {
            window.location.href= '/?error='+text
        };
    }

    var camera = document.getElementById('camera');
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
    window.URL = window.URL || window.webkitURL;
    if (navigator.getUserMedia) {
        navigator.getUserMedia({ video: true,audio:false},
            function(stream) {
                camera.src = window.URL.createObjectURL(stream);
                camera.onloadedmetadata = function(e) {
                    camera.play();
                };
            },
            function(err) {
                audioOrVideoNotEnabled("The following error occured: " + err.name);
            }
        );
    } else {
        audioOrVideoNotEnabled("Your Browser doesn't support video");
    }
</script>

<script>
    var websiteUrl = "https://localhost:3000";
    var audioFolder = websiteUrl + "/assets/Audio/items/"
    var videoFolder = websiteUrl + "/assets/Video/"
    var imageFolder = "assets/Images/"
    var nameFacesImageFolder = "assets/Images/2062/"
    
    var takePictureIntervalInMilliSeconds = 120000;
    var takePictureIntervalId = null;

    var analyser = document.getElementById("analyser");
    var video = document.getElementById("video");
    var camera = document.getElementById("camera");
    var videoContent = document.getElementById("videoContent");
    var nextButton = document.getElementById("nextButton");
    var instr = document.getElementById("textContent");
    var trackTap = document.getElementById("trackTap");
    var nameFacesContent = document.getElementById("nameFacesContent");

    var selectedWords = new Set();
    var wordTouchMap = {};
    var questionList;

    var item,itemStatus;
    var itemResponse = {}, itemSubResponse = {};
    var responseStartTime, responseEndTime, subResponseStartTime, subResponseEndTime, subResponseStart,subResponseDuration;
    var index = -1;
    var pictureId = 0;
    var picItemResponse = {};
    var interviewStartTime, interviewEndTime;
    var audioGlobal = document.getElementById('audioGlobal');
    JL("client").info("Interview started");

    function takePictureAndUpload() {


        JL("client").info("Taking picture for the interviewer with pictureId: " + (++pictureId));
        var picture = {};
        picture.takenItem = item.item;
        picture.takenType = item.type;
        picture.takenTime = (new Date()).toUTCString();
        picture.pngFileName = 'camera'+pictureId+'.png';
        picture.elapsedTime = (new Date() - interviewStartTime)/1000;
        //TODO: upload picture to S3
        $.post('/api/session/cameraPictureSessionData', {pictureInfo: picture}, function(data) {
            if (data != "ok") {
                var errorMessage = "Upload cameraPicture failed with message: " + data;
                console.error(errorMessage);
                JL("client").error(errorMessage);
            } else {
                JL("client").error("Upload CameraPicture succeeded.");
            }
        });
    }

    function postItemResponse(stream) {
        $.post("/api/session/updateSessionState", {itemResponse : itemResponse}, function(data) {
            if(data!="ok") {
                var errorMessage = "Upload response for testItem type:"+item.type+", item:"+item.item + " failed with message: " + data;
                console.error(errorMessage);
                JL("client").error(errorMessage);
            } else {
                JL("client").error("Upload response for testItem type:"+item.type+", item:"+item.item + " succeeded.");
                //processItem(stream);
            }
        })
        processItem(stream);
    }

    function postPictureResponseAndMarkEnd() {
        picItemResponse.endTime = (new Date()).toUTCString();
        picItemResponse.status = "MAX_TIMEOUT";
        //TODO mark end and redirect to thank you page
        $.post("/api/session/endSession", {cameraPictureResponse : picItemResponse}, function(data) {
            if(data!="ok") {
                var errorMessage = "Upload picture response for testItem type:"+item.type+", item:"+item.item + " failed with message: " + data;
                console.error(errorMessage);
                JL("client").error(errorMessage);
            } else {
                JL("client").error("Upload picture response for testItem type:"+item.type+", item:"+item.item + " succeeded.");
                //end the interview
                window.location.href="/";
            }
        })
    }

    function initializeItemProcessingVariables() {
        itemResponse = {};
        itemResponse.subresponses = [];
        itemSubResponse = {};
        nextButton.style.display = 'none';
        nextButton.onclick=function(){}
    }
    function processItem(stream) {
        ++index;
        if(index>=questionList.length) {
            clearInterval(takePictureIntervalId);
            interviewEndTime = new Date();
            postPictureResponseAndMarkEnd();
            return;
        }
        item = questionList[index];
        JL("client").info("Enter processItem for :"+item.type+", item:"+item.item);
        console.log("Enter processItem for :"+item.type+", item:"+item.item);
        initializeItemProcessingVariables();
        itemResponse.item = item;
        switch (item.type) {
            case 2000:
                if(item.item == 1) {
                    processVolumeChecker(stream, item);
                } else if(item.item == 2) {
                    processMicrophoneChecker(stream, item);
                } else if(item.item==3){
                    picItemResponse.item = item;
                    picItemResponse.pictures=[];
                    picItemResponse.itemType="CameraPicture";
                    picItemResponse.startTime = (new Date()).toUTCString();
                    picItemResponse.afilename = "";
                    takePictureIntervalInMilliSeconds = item.mtimeout*1000;
                    interviewStartTime = new Date();
                    takePictureAndUpload();
                    takePictureIntervalId = setInterval(takePictureAndUpload, takePictureIntervalInMilliSeconds);
                    processInstruction(stream, item);
                }
                break;
            case 2023:
                processDescribeSilentVideo(stream, item)
                break;
            case 2001:
            case 2041:
            case 2044:
            case 2065:
            case 2066:
            case 2067:
            case 2068:
            case 2069:
            case 2070:
            case 2071:
            case 2072:
            case 2073:
            case 2074:
            case 2091:
            case 2094:
            case 2095:
            case 2096:
            case 2098:
            case 2100:
                if(item.item==0) processInstruction(stream, item); //item 0 has no recording
                else processAudioQuestion(stream, item);
                break;
            case 2032:
                processTrackTap(stream, item);
                //processItem(stream);
                break;
            case 2040:
                processRetellStory(stream, item);
                break;
            case 2062: //bypass the following two for now
                if(item.item==0) {
                    processInstruction(stream, item);
                } //item 0 has no recording
                else {
                    processNameTheFace(stream, item);
                }
                break;
            case 2064:
                processQuickLit(stream, item);
                break;
            default:
                JL('client').info("Skipping not defined item: " + item.type+"."+item.item);
                processItem(stream);
                break;
        }
    }




    function processInstruction(stream, item) {
        JL("client").info("Enter processInstruction for :"+item.type+", item:"+item.item);
        nextButton.style.display = 'none';
        var audioFileName = item.type+"."+(item.item==0 ? "mp3" : item.item+".mp3");
        audioGlobal.src = audioFolder + audioFileName;
        audioGlobal.onended = function() {
            instr.style.display="none";
            JL("client").info("Leave processInstruction for :"+item.type+", item:"+item.item);
            processItem(stream);
        }

        //instr.style.display = "inline";
        audioGlobal.play();
    }

    function processTransition(stream, item) {
        nextButton.style.display = 'none';
        var source = audioFolder+item.audio; //TODO: not used
        audioGlobal.src = source;
        audioGlobal.onended = function() {
            processItem(stream);
        }
        audioGlobal.play();
    }

    function processNextAudioInAudioQuestions(audioList, aindex, stream, item) {
        if(aindex>=audioList.length) {
            //End of the item, process next item
            responseEndTime=new Date();
            itemResponse.startTime = responseStartTime.toUTCString();
            itemResponse.endTime = responseEndTime.toUTCString();
            if(aindex>1) {
                itemResponse.subresponses.push(itemSubResponse);
            }
            postItemResponse(stream);
            return;
        }

        itemResponse.subresponses.push(itemSubResponse);
        itemSubResponse = {};
        JL("client").info("Enter processNextAudioInAudioQuestions for :"+item.type+"."+item.item+". Start Playing audio: " + audioList[aindex]);
        audioGlobal.src = audioFolder+audioList[aindex];

        audioGlobal.onended = function() {
            JL("client").info("End Playing audio: " + audioList[aindex]+". Start Recording. ");
            analyser.style.display = "inline";
            gotStream(stream);
            startRecording();
            subResponseStartTime = new Date();
            itemSubResponse.extraInfo='the No. '+(aindex+1) +' recording';

            startTimer(item.itimeout, item.mtimeout,
                function () {
                    nextButton.style.display = "inline";
                    nextButton.onclick = function () {
                        JL("client").info("End Recording for question " + audioList[aindex]+". Next button Clicked. ");
                        stopTimer();
                        stopRecording();
                        subResponseEndTime = new Date();
                        itemResponse.status = "NEXT_TOUCHED";
                        itemSubResponse.status = "NEXT_TOUCHED";
                        itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
                        itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
                        itemSubResponse.start=subResponseStart+subResponseDuration; //start equals last subresponse end;
                        subResponseStart = itemSubResponse.start;
                        subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
                        itemSubResponse.duration = subResponseDuration;
                        itemSubResponse.audioFileName = item.type+"."+item.item+"."+(aindex+1)+".flac";

                        nextButton.style.display = "none";
                        analyser.style.display = "none";
                        processNextAudioInAudioQuestions(audioList, aindex + 1, stream, item);
                    };
                },
                function () {
                    JL("client").info("End Recording for question " + audioList[aindex]+". Max Timeout reached. ");
                    stopTimer();
                    stopRecording();
                    subResponseEndTime = new Date();
                    itemResponse.status = "MAX_TIMEOUT";
                    itemSubResponse.status = "MAX_TIMEOUT";
                    itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
                    itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
                    itemSubResponse.start=subResponseStart+subResponseDuration; //start equals last subresponse end;
                    subResponseStart = itemSubResponse.start;
                    subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
                    itemSubResponse.duration = subResponseDuration;
                    itemSubResponse.audioFileName = item.type+"."+item.item+"."+(aindex+1)+".flac";

                    nextButton.style.display = "none";
                    analyser.style.display = "none";
                    processNextAudioInAudioQuestions(audioList, aindex + 1, stream, item);
                }
            );

        }
        audioGlobal.play();
    }

    function processAudioQuestion(stream, item) {
        JL("client").info("Entering  processAudioQuestion for " +item.type+"."+item.item );
        var audioFileList = item.audio.split(':');
        var aindex = 0;
        var audioFileName = audioFileList[aindex];

        audioGlobal.src = audioFolder + audioFileName;
        JL('client').info("Start playing audio " + audioFileName);
        itemResponse.afilename = item.type+"."+item.item+".flac";
        itemResponse.itemType = audioFileList.length >1 ? "SubAudioResponse" : "AudioResponse";

        audioGlobal.onended = function() {
            JL('client').info("End playing audio " + audioFileName+". Start Recording");

            analyser.style.display = "inline";
            gotStream(stream);
            startRecording();

            responseStartTime = subResponseStartTime = new Date();
            itemSubResponse.extraInfo='the No. '+(aindex+1) +' recording';

            startTimer(item.itimeout, item.mtimeout,
                function(){
                    nextButton.style.display="inline";
                    nextButton.onclick = function() {
                        JL('client').info("End Recording for No."+(aindex+1)+" question of " + item.type+"."+item.item +". Next button clicked.");
                        stopTimer();
                        stopRecording();
                        nextButton.style.display = "none";
                        analyser.style.display = "none";

                        subResponseEndTime = new Date();
                        itemResponse.status = "NEXT_TOUCHED";
                        itemSubResponse.status = "NEXT_TOUCHED";
                        itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
                        itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
                        subResponseStart = itemSubResponse.start= 0;
                        subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
                        itemSubResponse.duration = subResponseDuration;
                        itemSubResponse.audioFileName = item.type+"."+item.item+"."+(aindex+1)+".flac";

                        processNextAudioInAudioQuestions(audioFileList, aindex+1, stream, item);
                    };
                },
                function() {
                    stopTimer();
                    stopRecording();
                    JL('client').info("End Recording for No."+(aindex+1)+" question of " + item.type+"."+item.item +". Max timeout reached.");

                    nextButton.style.display = "none";
                    analyser.style.display = "none";

                    subResponseEndTime = new Date();
                    itemResponse.status = "MAX_TIMEOUT";
                    itemSubResponse.status = "MAX_TIMEOUT";
                    itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
                    itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
                    subResponseStart = itemSubResponse.start= 0;
                    subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
                    itemSubResponse.duration = subResponseDuration;
                    itemSubResponse.audioFileName = item.type+"."+item.item+"."+(aindex+1)+".flac";

                    processNextAudioInAudioQuestions(audioFileList, aindex+1, stream, item);
                }
            );
        }
        audioGlobal.play();
    }

    function processNameTheFace(stream, item) {
        JL("client").info("Entering  processNameTheFace for " +item.type+"."+item.item );
        var audioList = item.audio.split(':');
        var nfindex = 0;
        var sex = item.item==1 ? 'F' : 'M';

        JL('client').info("Start playing audio: " + audioList[nfindex]);

        itemResponse.afilename = item.type+"."+item.item+".flac";
        itemResponse.itemType = "SubAudioResponse";

        var facePictureFiles  = item.namefacePicBlob;
        var names = item.namefaceNameBlob;
        var fourFacesDiv = document.getElementById("4faces");
        var testFaceDiv = document.getElementById("testFaceDiv");
        var testFace = document.getElementById("testFace");
        nextButton.style.display = "none";
        nameFacesContent.style.display = "inline";
        var namesArray = [];
        for(var p in facePictureFiles) {
            var fileN = facePictureFiles[p];
            document.getElementById("face"+p).src = nameFacesImageFolder + fileN;
            document.getElementById("name"+p).innerHTML = names[p].name;
            namesArray.push(names[p].name);
        }
        fourFacesDiv.style.display = "inline";
        testFaceDiv.style.display = "none"
        JL('client').info("Start showing faces for "+item.mtimeout+" seconds.");

        var audioNF = new Audio(audioFolder+audioList[nfindex]);
        audioNF.play(); // Look at these people, need to give people time to remember

        startTimer(0, item.mtimeout, null, function(){
            stopTimer();
            var selectedName = item.namefaceNamePicked.name;
            //var selectedInex = names.indexOf(selectedName);
            // Show the selected name/photo ,and play audio "who is this"
            audioGlobal.src = audioFolder+audioList[1];
            testFace.src = nameFacesImageFolder+item.namefacePicPicked.filename
            testFaceDiv.style.display = "inline";
            fourFacesDiv.style.display = "none";
            console.log("End showing faces. Start playing audio: " + audioList[1]);
            JL('client').info("End showing faces. Start playing audio: " + audioList[1]);
            audioGlobal.play(); // Look at the people, who is he, need to give people time to remember
            audioGlobal.onended = function() {
                JL('client').info("End playing audio: " + audioList[1]+". Start timer and recording for interviewer to say the name.");
                analyser.style.display = "inline";
                gotStream(stream);

                responseStartTime = subResponseStartTime = new Date();

                startRecording();
                startTimer(0, item.mtimeout,
                    null,
                    function () {
                        stopTimer();
                        stopRecording();

                        subResponseEndTime = new Date();
                        itemSubResponse.extraInfo = facePictureFiles.join(':')+','+namesArray.join(':')+','+selectedName;
                        itemSubResponse.status = "MAX_TIMEOUT";
                        itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
                        itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
                        subResponseStart = itemSubResponse.start= 0;
                        itemSubResponse.duration = subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
                        itemSubResponse.audioFileName = item.type+"."+item.item+".1.flac";
                        itemResponse.subresponses.push(itemSubResponse);



                        JL('client').info("End timer and recording for interviewer to say the name.");
                        audioGlobal.src = audioFolder+item.type+"."+sex+".mp3"
                        audioGlobal.play();
                        JL('client').info("Start playing audio: " + item.type+"."+sex+".mp3"+ ". Asking what is he/she feeling. Start Recording.");
                        audioGlobal.onended = function() {
                            gotStream(stream);
                            startRecording();
                            itemSubResponse = {};
                            itemSubResponse.extraInfo = item.namefacePicPicked.filename+":"+item.type+"."+sex+".mp3"
                            subResponseStartTime = new Date();

                            startTimer(item.itimeout, item.mtimeout,
                                function(){
                                    nextButton.style.display = "inline";
                                    nextButton.onclick = function () {
                                        JL('client').info("End timer/recording for interviewer to say the person's feeling. Next button touched.");
                                        stopTimer();
                                        stopRecording();

                                        itemResponse.status = itemSubResponse.status = "NEXT_TOUCHED";
                                        itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
                                        responseEndTime = subResponseEndTime = new Date();
                                        itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
                                        itemSubResponse.start = subResponseStart = subResponseDuration + subResponseStart;
                                        itemSubResponse.duration = subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
                                        itemSubResponse.audioFileName = item.type+"."+item.item+".2.flac";

                                        itemResponse.subresponses.push(itemSubResponse);
                                        itemResponse.startTime = responseStartTime.toUTCString();
                                        itemResponse.endTime = responseEndTime.toUTCString();

                                        nameFacesContent.style.display="none";
                                        nextButton.style.display = "none";
                                        analyser.style.display = "none";
                                        postItemResponse(stream);
                                    };
                                },
                                function() {
                                    JL('client').info("End timer/recording for interviewer to say the person's feeling. Max timeout reached.");
                                    stopTimer();
                                    stopRecording();
                                    itemResponse.status = itemSubResponse.status = "MAX_TIMEOUT";
                                    responseEndTime = subResponseEndTime = new Date();

                                    itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
                                    itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
                                    itemSubResponse.start = subResponseStart = subResponseDuration + subResponseStart;
                                    itemSubResponse.duration = subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
                                    itemSubResponse.audioFileName = item.type+"."+item.item+".2.flac";

                                    itemResponse.subresponses.push(itemSubResponse);
                                    itemResponse.startTime = responseStartTime.toUTCString();
                                    itemResponse.endTime = responseEndTime.toUTCString();

                                    nameFacesContent.style.display="none";
                                    nextButton.style.display = "none";
                                    analyser.style.display = "none";
                                    postItemResponse(stream);
                                }
                            );
                        }
                    }
                );
            }

        });
    }

    function processTrackTap(stream, item) {
        JL("client").info("Entering  processTrackTap for " +item.type+"."+item.item );
        audioGlobal.src = audioFolder+item.audio;

        itemResponse.afilename = "";
        itemResponse.itemType = "TrackTapResponse";
        itemResponse.item = item;

        JL('client').info("Start playing audio " + item.audio +" in tracktap.");
        analyser.style.display = 'none';
        nextButton.style.display = 'none';
        trackTap.style.display = "inline";
        audioGlobal.onended = function() {
            JL('client').info("Start playing tracktap");
            responseStartTime = new Date();
            itemResponse.taps=[];

            GameStart();
            startTimer(0, item.mtimeout, null, function() {
                GameOver();
                JL('client').info("End playing tracktap");
                trackTap.style.display = "none";
                responseEndTime = new Date();
                itemResponse.startTime = responseStartTime.toUTCString();
                itemResponse.endTime = responseEndTime.toUTCString();
                itemResponse.status = "MAX_TIMEOUT";
                itemResponse.score = score;
                itemResponse.latency = 0; //"dummy" for now
                //itemResponse.scoreInfo = scoreInfo;
                postItemResponse(stream);
                //processItem(stream);
            });

        }
        audioGlobal.play();
    }

    function processRetellStory(stream, item){
        JL("client").info("Entering  processRetellStory for " +item.type+"."+item.item );
        var audioList = item.audio.split(':');
        var rsindex = 0;
        audioGlobal.src = audioFolder+audioList[rsindex];
        JL('client').info("Start playing audio " + audioList[rsindex]);

        audioGlobal.onended = function() {
            JL('client').info("End playing audio " + audioList[rsindex]);
            playAudioInRetellStory(audioList, rsindex+1, stream, item);

        };
        audioGlobal.play();
    }
    function playAudioInRetellStory(audioList, rsindex, stream, item){
        if(rsindex>=audioList.length) {
            processItem(stream);
            return;
        }
        JL("client").info("Entering  playAudioInRetellStory for " +item.type+"."+item.item );

        audioGlobal.src = audioFolder+audioList[rsindex];
        JL('client').info("Start playing audio " + audioList[rsindex]);
        audioGlobal.onended = function() {
            JL('client').info("End playing audio " + audioList[rsindex]);
            if(rsindex==2) { //The third audio in retell story is "Now you tell the story")

                responseStartTime = new Date();
                itemResponse.afilename = item.type+"."+item.item+".flac";
                itemResponse.itemType = "AudioResponse";
                itemResponse.item = item;
                itemResponse.subresponses=[];

                analyser.style.display = "inline";
                gotStream(stream);
                startRecording();
                JL('client').info("Start Recording in RetellStory");
                startTimer(item.itimeout, item.mtimeout,
                    function () {
                        nextButton.style.display = "inline";
                        nextButton.onclick = function () {
                            JL('client').info("End Recording in RetellStory. Next button touched.");
                            responseEndTime = new Date();
                            itemResponse.startTime = responseStartTime.toUTCString();
                            itemResponse.endTime = responseEndTime.toUTCString();
                            itemResponse.status = "NEXT_TOUCHED";

                            stopTimer();
                            stopRecording();
                            nextButton.style.display = "none";
                            analyser.style.display = "none";
                            playAudioInRetellStory(audioList, rsindex + 1, stream, item);
                        };
                    },
                    function () {
                        JL('client').info("End Recording in RetellStory. Max timeout reached.");
                        responseEndTime = new Date();
                        itemResponse.startTime = responseStartTime.toUTCString();
                        itemResponse.endTime = responseEndTime.toUTCString();
                        itemResponse.status = "MAX_TIMEOUT";

                        stopTimer();
                        stopRecording();
                        nextButton.style.display = "none";
                        analyser.style.display = "none";
                        playAudioInRetellStory(audioList, rsindex + 1, stream, item);
                    }
                );
            } else {
                playAudioInRetellStory(audioList, rsindex+1, stream, item);
            }
        }
        audioGlobal.play();
    }

    function processDescribeSilentVideo(stream, item) {
        JL("client").info("Entering  processDescribeSilentVideo for " +item.type+"."+item.item );

        var audioList = item.audio.split(':');
        var vindex = 0;
        videoContent.style.display="inline";
        video.src = videoFolder + item.video;
        video.load();
        audioGlobal.src = audioFolder+audioList[vindex];
        JL('client').info("Start playing audio " + audioList[vindex]);

        audioGlobal.onended = function() {
            JL('client').info("End playing audio " + audioList[vindex]);

            responseStartTime = subResponseStartTime = new Date();
            itemResponse.afilename = item.type+"."+item.item+".flac";
            itemResponse.itemType = "SubAudioResponse";
            itemResponse.item = item;
            itemResponse.subresponses=[];

            itemSubResponse.extraInfo='the No. '+(vindex+1) +' recording';

            analyser.style.display="inline";
            startRecording();
            JL('client').info("Start playing video " + item.video+" and recording.");
            video.onended = function() {
                analyser.style.display="none";
                JL('client').info("End playing video " + item.video+" and recording.");
                stopRecording();

                subResponseEndTime = new Date();
                itemSubResponse.status = "MAX_TIMEOUT";
                itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
                itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
                subResponseStart = itemSubResponse.start= 0;
                subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
                itemSubResponse.duration = subResponseDuration;
                itemSubResponse.audioFileName = item.type+"."+item.item+"."+(vindex+1)+".flac";


                playAudioInDescribeVideo(audioList, vindex+1, stream, item);
            }
            video.play();
        };
        audioGlobal.play();

    }

    function playAudioInDescribeVideo(audioList, vindex, stream, item){
        if(vindex>=audioList.length) {
            videoContent.style.display="none";

            itemResponse.status = "MAX_TIMEOUT";
            responseEndTime=new Date();
            itemResponse.startTime = responseStartTime.toUTCString();
            itemResponse.endTime = responseEndTime.toUTCString();

            processItem(stream);
            return;
        }
        JL("client").info("Entering playAudioInDescribeVideo for " +item.type+"."+item.item );

        itemResponse.subresponses.push(itemSubResponse);
        itemSubResponse={};

        audioGlobal.src = audioFolder+audioList[vindex];
        JL('client').info("Start playing audio " + audioList[vindex]);

        audioGlobal.onended = function() {
            JL('client').info("End playing audio " + audioList[vindex]);
            JL('client').info("Start recording for " + audioList[vindex]);

            subResponseStartTime = new Date();

            analyser.style.display = "inline";
            gotStream(stream);
            startRecording();
            startTimer(item.itimeout, item.mtimeout,
                function(){
                    nextButton.style.display="inline";
                    nextButton.onclick = function() {
                        JL('client').info("End recording for " + audioList[vindex]+". Next button touched.");

                        subResponseEndTime = new Date();
                        itemSubResponse.extraInfo='the No. '+(vindex+1) +' recording';
                        itemSubResponse.status = "NEXT_TOUCH";
                        itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
                        itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
                        itemSubResponse.start=subResponseStart+subResponseDuration; //start equals last subresponse end;
                        subResponseStart = itemSubResponse.start;
                        subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
                        itemSubResponse.duration = subResponseDuration;
                        itemSubResponse.audioFileName = item.type+"."+item.item+"."+(vindex+1)+".flac";



                        stopTimer();
                        stopRecording();
                        nextButton.style.display = "none";
                        analyser.style.display = "none";
                        playAudioInDescribeVideo(audioList, vindex+1, stream, item);
                    };
                },
                function() {
                    JL('client').info("End recording for " + audioList[vindex]+". Max timeout reached.");

                    subResponseEndTime = new Date();
                    itemSubResponse.extraInfo='the No. '+(vindex+1) +' recording';
                    itemSubResponse.status = "MAX_TIMEOUT";
                    itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
                    itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
                    itemSubResponse.start=subResponseStart+subResponseDuration; //start equals last subresponse end;
                    subResponseStart = itemSubResponse.start;
                    subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
                    itemSubResponse.duration = subResponseDuration;
                    itemSubResponse.audioFileName = item.type+"."+item.item+"."+(vindex+1)+".flac";


                    stopTimer();
                    stopRecording();
                    nextButton.style.display = "none";
                    analyser.style.display = "none";
                    playAudioInDescribeVideo(audioList, vindex+1, stream, item);
                }
            );
        }
        audioGlobal.play();
    }

    var toggleHighlight = function(div) {
        var key = div.id;
        if(div.classList.contains('highlight')) {
            div.classList.remove('highlight');
            wordTouchMap[key] = null;
            selectedWords.delete(div.id);
        } else {
            div.classList.add('highlight');
            selectedWords.add(div.id);
            wordTouchMap[key] = new Date();
        }
    }

    function processQuickLit(stream, item) {
        JL("client").info("Entering processQuickLit for " +item.type+"."+item.item );

        var audioList = item.audio.split(':'); // length==2
        var wordsBlob = item.wordsBlob;
        var numWords = wordsBlob.length;
        audioGlobal.src = audioFolder+audioList[0];
        audioGlobal.play();
        JL('client').info("Start playing audio " + audioList[0]);

        responseStartTime = subResponseStartTime = new Date();
        itemResponse.afilename = item.type+"."+item.item+".flac";
        itemResponse.itemType = "QuickLitResponse";
        itemResponse.item = item;
        itemResponse.words = [];
        audioGlobal.onended = function() {
            JL('client').info("End playing audio " + audioList[0]);
            //show the word one by one
            var showWord = function() {
                if(numWords!=wordsBlob.length) stopTimer();
                console.log("numWords: "+numWords);
                --numWords;

                if(numWords<0) {
                    JL('client').info("Start tapping all real words in QuickLit.");
                    instr.style.display = "none";
                    var textShowAll =document.getElementById("textShowAll");
                    textShowAll.style.display="inline";
                    for(var i =0; i <wordsBlob.length; i++ ){
                       var word_slot =  document.getElementById("word" + i);
                        word_slot.innerHTML= wordsBlob[i].string;
                    }
                    stopTimer();
                    stopRecording();
                    audioGlobal.src = audioFolder+audioList[1];
                    JL('client').info("Start playing audio "+audioList[1]);
                    audioGlobal.play();
                    audioGlobal.onended = function() {
                        nextButton.style.display = "inline";
                        nextButton.onclick = function () {
                            nextButton.style.display = "none";
                            for (var wordDiv of selectedWords) {
                                //sessionId, testId, type, item, word, isWord, isUsed, level, duration, isTouched, touchTimeStamp, wordIndex, isCorrect
                                document.getElementById(wordDiv).classList.remove('highlight');
                                var sWord = document.getElementById(wordDiv).innerHTML;
                                var index = parseInt(wordDiv[wordDiv.length-1]);
                                var sWordResponse = itemResponse.words[index];
                                sWordResponse.isTouched = 'Y';
                                sWordResponse.isCorrect = sWordResponse.isWord=='Y' ? 'Y' : 'N';
                                sWordResponse.touchTimeStamp = wordTouchMap[wordDiv].toUTCString();
                            }
                            var textShowAll = document.getElementById("textShowAll");
                            textShowAll.style.display = "none";
                            //remember to touch time and isCorrect
                            selectedWords = new Set();
                            var touchScore = 0;
                            itemResponse.words.forEach(function(it){
                                if(it.isTouched=='Y' && it.isWord=='Y') ++touchScore;
                                else if(it.isTouched=='N' && it.isWord=='Y') --touchScore;
                                else if(it.isTouched=='Y' && it.isWord=='N') --touchScore;
                            })
                            itemResponse.status = "NEXT_TOUCHED";
                            responseEndTime=new Date();
                            itemResponse.startTime = responseStartTime.toUTCString();
                            itemResponse.endTime = responseEndTime.toUTCString();
                            itemResponse.score = touchScore;
                            JL('client').info("End tapping all real words in QuickLit.");
                            postItemResponse(stream);
                        }
                    }
                } else {
                    var wordBlob = wordsBlob[wordsBlob.length-numWords-1];
                    var wordShown = wordBlob.string;
                    instr.innerHTML = wordShown;

                    var wordResponse = {};
                    //word, isWord, isUsed, level, duration, isTouched, touchTimeStamp, wordIndex, isCorrect
                    wordResponse.word = wordBlob.string;
                    wordResponse.isWord = wordBlob.word;
                    wordResponse.isUsed = wordBlob.used;
                    wordResponse.level = wordBlob.level;
                    wordResponse.duration = 3.00;
                    wordResponse.wordIndex = wordsBlob.length-numWords-1;
                    wordResponse.isTouched = 'N';
                    wordResponse.touchTimeStamp = null;
                    wordResponse.isCorrect = wordResponse.isWord=='N' ? 'Y' : 'N';
                    itemResponse.words.push(wordResponse);

                    JL('client').info("Start showing word: "+wordShown);
                    instr.style.display = "inline";
                    startTimer(0, item.mtimeout, null, showWord);
                }
            }
            showWord();
            startRecording();
            JL('client').info("Start recording during word show in QuickLit.");
            //startTimer(0, item.mtimeout, null, showWord);
        }

    }
    
    function processVolumeChecker(stream, item) {
        JL("client").info("Entering processVolumeChecker for " +item.type+"."+item.item );

        var audioFileName = item.type+"."+item.item+".mp3";

        var source = audioFolder + audioFileName;
        audioGlobal.src = source;
        instr.innerHTML = "Hear This ?";
        var nextButton = document.getElementById("nextButton");
        nextButton.innerHTML="Next";

        audioGlobal.onended = function() {
            audioGlobal.play();
            nextButton.style.display = "inline";
            nextButton.onclick = function() {
                instr.style.display="none";
                nextButton.style.display="none";
                audioGlobal.pause();
                audioGlobal.src="";
                processItem(stream);
            };
        }
        instr.style.display = "inline";
        audioGlobal.play();
    }
    
    function processMicrophoneChecker(stream, item) {
        var source = audioFolder + item.audio;
        audioGlobal.src = source;
        gotStream(stream);
        JL("client").info("Entering processMicrophoneChecker for " +item.type+"."+item.item );
        instr.innerHTML="Name and Location";
        instr.style.display = "inline";

        responseStartTime = subResponseStartTime = new Date();
        itemResponse.afilename = item.type+"."+item.item+".flac";
        itemResponse.itemType = "MicrophoneAudioResponse";
        itemResponse.item = item;
        itemResponse.subresponses = [];
        itemResponse.snrDB = {};
        itemResponse.snrDB.snr_threshold = snrThreshold;
        itemResponse.snrDB.signal_threshold =signalThreshold;

        itemSubResponse = {};



        startRecording();
        audioGlobal.play();
        audioGlobal.onended = function() {
            document.getElementById("analyser").style.display="inline";
            JL('client').info("Start recording for microphone checker. Playing audio 2000.2.mp3.");
            stopRecording();

            subResponseEndTime = new Date();
            itemSubResponse.extraInfo='the No. 1 recording';
            itemSubResponse.status = 'MAX_TIMEOUT';
            itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
            itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
            itemSubResponse.start=0.000; //start equals last subresponse end;
            subResponseStart = itemSubResponse.start;
            itemSubResponse.duration = subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
            itemSubResponse.audioFileName = item.type+"."+item.item+".1.flac";

            itemResponse.subresponses.push(itemSubResponse);

            itemResponse.snrDB.signal_app = signalLevel;
            itemResponse.snrDB.noise_app = noiseLevel;
            itemResponse.snrDB.app = itemResponse.snrDB.signal_app - itemResponse.snrDB.noise_app;

            itemSubResponse = {};
            subResponseStartTime = new Date();
            itemSubResponse.extraInfo='the No. 2 recording';

            startRecording();
            startTimer(0, item.mTimeout, null, function() {
                stopRecording();
                JL('client').info("Stop recording for microphone checker. Playing audio 2000.2.mp3.");
                instr.style.display = "none";
                document.getElementById("analyser").style.display = "none";

                responseEndTime = subResponseEndTime = new Date();
                itemSubResponse.status = 'END_TIMEOUT';
                itemSubResponse.startTime = toUTCDateTimeString(subResponseStartTime);
                itemSubResponse.endTime = toUTCDateTimeString(subResponseEndTime);
                itemSubResponse.start= subResponseStart+subResponseDuration; //start equals last subresponse end;
                subResponseStart = itemSubResponse.start;
                itemSubResponse.duration = subResponseDuration = (subResponseEndTime - subResponseStartTime)/1000;
                itemSubResponse.audioFileName = item.type+"."+item.item+".2.flac";

                itemResponse.subresponses.push(itemSubResponse);

                itemResponse.status = "END_TIMEOUT";
                itemResponse.snrDB.signal_user = signalLevel;
                itemResponse.snrDB.noise_user = noiseLevel;
                itemResponse.snrDB.app = itemResponse.snrDB.signal_user - itemResponse.snrDB.noise_user;
                itemResponse.startTime = responseStartTime.toUTCString();
                itemResponse.endTime = responseEndTime.toUTCString();
                switch(audioLevel) {
                    case audioLevelOptions.OK:
                        source = audioFolder + '2000.2.OK.mp3';
                        audioGlobal.src = source;
                        itemResponse.snrDB.level = 'OK'
                        audioGlobal.onended = function () {
                            postItemResponse(stream);
                        }
                        audioGlobal.play();
                        break;
                    case audioLevelOptions.LowVolume:
                        source = audioFolder + '2000.2.Low.mp3';
                        audioGlobal.src = source;
                        itemResponse.snrDB.level = 'LowVolume'
                        audioGlobal.onended = function () {
                            postItemResponse(stream);
                        }
                        audioGlobal.play();
                        break;
                    case audioLevelOptions.LowSNR:
                        source = audioFolder + '2000.2.Noise.mp3';
                        audioGlobal.src = source;
                        itemResponse.snrDB.level = 'LowSNR'
                        audioGlobal.onended = function () {
                            window.location.href = "/?error=Make sure you are in a quiet place.";
                        }
                        audioGlobal.play();
                        break;
                    default:
                        source = audioFolder + '2000.2.MoreSpeech.mp3';
                        audioGlobal.src = source;
                        itemResponse.snrDB.level = 'UnKnown'
                        audioGlobal.onended = function () {
                            processMicrophoneChecker(stream, item); //repeat the item again.
                        }
                        audioGlobal.play();
                        break;
                }

            })
            //toggleRecording(this);
        };

    }

    $.get("/questionSet", function(data) {
        questionList = data;
        navigator.getUserMedia({audio: true, video: false}, function (stream) {
            nextButton.onclick = function () {
                processItem(stream);
            }
        }, function (error) {
            audioOrVideoNotEnabled("Please make sure your microphone is enabled.");
        });


    })

</script>

</body>
</html>