<!doctype html>
<html>
<head>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Audio Recorder</title>

    <script src="js/recorderjs/audiodisplay.js"></script>
    <script src="js/recorderjs/recorder.js"></script>
    <script src="js/recorderjs/audioMain.js"></script>
    <link rel="stylesheet" href="/css/audioCss.css">
</head>
<body background="assets/images/background.png">
<div id="viz" >
    <canvas id="analyser" width="1024" height="500"></canvas>
    <canvas id="wavedisplay" width="1024" height="500"></canvas>
</div>
<div id="controls">
    <img id="record" src="images/mic128.png" onclick="toggleRecording(this);">
    <a id="save" href="#"><img src="images/save.svg"></a>
    <div id="button">
        <button id="next" type="button" class="text-center" font-size="16px">Next</button>
    </div>
</div>

<script>
    $('#next').click(function () {
        window.location.href = "/interview";
    })
</script>

</body>
</html>