/* For mobile phones: */
html {
    height: 100%;
}

body{
    background-image: url("/images/background.png");


}
#camera {
    float:left;display:inline-block;
}
#camera_canvas {

    min-width: 50px;
    max-width: 150px;
    min-height: 75px;
    max-height:175px;
    width:auto;
    height:auto;
}

video {

    min-width: 50px;
    max-width: 150px;
    min-height: 50px;
    max-height:175px;
    width:15%;
    height:12px;
}

#spinner {
    float:right;
}

#footer{
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display:none;
}
#next_button_block{
    background-color: #00B7FF;;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */

}