/* For mobile phones: */
html {
    height: 100%;
}

body{
    background-image: url("/images/background.png");


}
#camera {
    float:left;display:inline-block;
}
#camera_canvas {

    min-width: 50px;
    max-width: 150px;
    min-height: 75px;
    max-height:175px;
    width:auto;
    height:auto;
}

#camera_spot {

    min-width: 50px;
    max-width: 150px;
    min-height: 50px;
    max-height:175px;
    width:15%;
    height:12px;
}

#spinner {
    float:right;
}

#footer{
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display:none;
}
#content{
    width: 100%;
    min-height:200px ;
    max-height: 60%;
}
#microphone{
    width:100%;

    position:absolute;
    bottom:42px;
}

#video{
    width: 100%;
    min-height:200px ;
    max-height: 500px;
}
#next_button_block{
    background-color: #00B7FF;;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */

}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float:left;
    width: 49.99999%;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.volumeChecker{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: initial;
    font-size:28px;

}